@model NorthwindMvc.Models.ProductModels.ProductCreateModel

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="from-group row">
            <h2 class="text-black-50 pl-3">Add Product</h2>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group row">
                    <div class="col-6 text-right">
                        <label asp-for="@Model.Product.ProductName"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="@Model.Product.ProductName" class="form-control"/>
                        <span asp-validation-for="@Model.Product.ProductName" class="text-danger"></span>
                    </div>
                    <div class="col-6 text-right">
                        <label asp-for="@Model.Product.QuantityPerUnit"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="@Model.Product.QuantityPerUnit" class="form-control" value="0"/>
                        <span asp-validation-for="@Model.Product.QuantityPerUnit" class="text-danger"></span>
                    </div>
                    <div class="col-6 text-right">
                        <label asp-for="@Model.Product.UnitPrice"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="@Model.Product.UnitPrice" class="form-control" value="0"/>
                        <span asp-validation-for="@Model.Product.UnitPrice" class="text-danger"></span>
                    </div>
                    <div class="col-6 text-right">
                        <label asp-for="@Model.Product.UnitsInStock"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="@Model.Product.UnitsInStock" class="form-control" value="0"/>
                        <span asp-validation-for="@Model.Product.UnitsInStock" class="text-danger"></span>
                    </div>

                    <div class="col-6 text-right">
                        <label>Category</label>
                    </div>
                    <div class="col-6">
                        <select asp-for="@Model.Product.CategoryId" class="form-control">
                            <option></option>
                            @foreach(var item in Model.Categories)
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }
                        </select>
                        <span asp-validation-for="@Model.Product.CategoryId" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Create"/>
                         </div>
                         <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}