@model NorthwindMvc.Models.ProductModels.ProductListModel

<html>
  <head>
      <meta name="viewport" content="width=device-width" />
  </head>
  <body>
      <div>
          <form asp-action="FindByName" asp-controller="Product" method="get">
              <label>Search product:</label>
              <input asp-for="PagingInfo.Name"/> 
              <input type="submit" class="btn btn-primary" value="Search"/>
          </form>

          <form asp-action="Index" asp-controller="Product" asp-route-name="@Model.PagingInfo.Name" hidden></form>

      </div>
      <div class="row">
          <div class="col">
              <vc:navigation-menu/>
          </div>
          <div class="col-1.5">
              <table class="table table-bordered table-striped" style="width:100%">
                  <thread>
                      <tr>
                          <th>Product name</th>
                          <th>Quantity per unit</th>
                          <th>Unit price</th>
                          <th>Units in stock</th>
                          <th>
                              <div class="col text-center">
                                  <a asp-controller="Product" asp-action="Create" class="btn btn-primary">Create new Product</a>
                              </div>
                          </th>
                      </tr>
                  </thread>
                  <tbody>
                      @foreach (var p in this.Model.Products)
                      {
                          <tr>
                              <td>@p.ProductName</td>
                              <td>@p.QuantityPerUnit</td>
                              <td>@p.UnitPrice</td>
                              <td>@p.UnitsInStock</td>
                              <td>
                                  <div class="w-100 btn-group" role="group">
                                      <a asp-controller="Product" asp-action="Update" asp-route-id="@p.ProductId" class="btn btn-primary mx-1">Update</a>
                                      <a asp-controller="Product" asp-action="Delete" asp-route-id="@p.ProductId" class="btn btn-danger mx-1">Delete</a>
                                  </div>
                              </td>
                          </tr>
                      }
                  </tbody>
              </table>
          </div>       
      </div>
  </body>

<div page-model="@Model.PagingInfo" 
    page-action="Index"
    page-classes-enabled="true"
    page-class="btn"
    page-class-normal="btn-outline-dark"
    page-class-selected="btn-primary"
    class="btn-group pull-right m-1">
</div>

</html>
